<% provide(:title, 'Now Works') %>
<h1>出勤中社員一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered table-condensed user-table">
    <thead>
      <tr>
        <th class="center">社員番号</th>
        <th class="center"><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @user_names.each do |name| %>
        <tr>
          <td></td>
          <td><%= name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>